*{
    margin: 0;
    padding: 0;
}

#main-heading {
    color: green;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 5px;
}

#main-div{
 background: rgb(168, 168, 76);
 display: flex;
 justify-content: space-between ;
 padding-left: 10px;
}

#sub-div{
 display: flex;
 width: 300px;
 justify-content: space-around;
 background: #000;
 padding-top: 10px;
 color: aliceblue;
}


